<h1>Editing recruitment</h1>

<%= render "form", recruitment: @recruitment %>

<br>

<div>
  <%= link_to "Show this recruitment", @recruitment %> |
  <%= link_to "Back to recruitments", recruitments_path %>
</div>
